@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@layer base {
    html {
        font-family: Inter,Arial, Helvetica, sans-serif;
    }
}

@layer components {
    .form-section {
       @apply p-8 focus-within:border focus-within:border-cyan-600 rounded-xl;
    }

    .form-div {
        @apply space-y-3.5 border-t border-slate-200 pt-8;
    }

    
    .form-flexDiv {
        @apply space-y-3.5 flex flex-col md:flex-row md:space-y-0 md:space-x-3.5;
        
    }
    
    .form-input {
        @apply bg-slate-100 py-1.5 px-1.5 rounded-md focus:outline-2 focus:outline-cyan-600 user-invalid:outline-1 user-invalid:outline-rose-500 transition-all duration-300;
    }

    .form-btn {
        @apply  py-3 w-52 font-bold cursor-pointer rounded-xl transition duration-300 hover:-translate-y-1 hover:shadow-2xs md:w-64
    }

    .form-select {
        @apply bg-slate-100   py-1.5 px-1.5 rounded-md outline-0 text-slate-500 valid:text-slate-900;
    }


}
